<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wey.mapper.PositionMapper">

    <insert id="add" parameterType="position">

        insert into `position` (`name`, deptname, introduce)
        values (#{name}, #{deptname}, #{introduce})
    </insert>

    <update id="edit" parameterType="position">
        update `position` set `name` = #{name}, deptname = #{deptname}, introduce = #{introduce}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        delete from `position` where id = #{id}
    </delete>

    <select id="queryList" resultType="position">
        select * from `position`
    </select>

</mapper>